/* Description: Master CSS file */

/*****************************************
Table Of Contents:

- General Styles
- Navigation
- Header
- Introduction
- Takeaways
- Summary
- Description
- Description Lightbox
- Instructor
- Testimonials
- Partners
- Statistics
- Portfolio
- Newsletter
- Footer
- Copyright
- Back To Top Button 
- Extra Pages
- Media Queries
******************************************/

/*****************************************
Colors:
- Backgrounds, navbar - light gray #f3f6fe
- Backgrounds, icons - blue #574fba
- Buttons - yellow #ffc259
- Icons - red #ff6e84
- Headings text - navy blue #3f3b6b
- Body text - dark gray #676d71
******************************************/


/**************************/
/*     General Styles     */
/**************************/
body,
html {
    width: 100%;
	height: 100%;
}

body, p {
	color: #676d71; 
	font: 400 1rem/1.625rem "Open Sans", sans-serif;
}

h1 {
	color: #3f3b6b;
	font-weight: 700;
	font-size: 2.5rem;
	line-height: 3.125rem;
	letter-spacing: -0.4px;
}

h2 {
	color: #3f3b6b;
	font-weight: 700;
	font-size: 2.125rem;
	line-height: 2.625rem;
	letter-spacing: -0.2px;
}

h3 {
	color: #3f3b6b;
	font-weight: 700;
	font-size: 1.75rem;
	line-height: 2.25rem;
	letter-spacing: -0.2px;
}

h4 {
	color: #3f3b6b;
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 2rem;
	letter-spacing: -0.2px;
}

h5 {
	color: #3f3b6b;
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 1.625rem;
}

h6 {
	color: #3f3b6b;
	font-weight: 700;
	font-size: 1rem;
	line-height: 1.375rem;
}

.p-large {
	font-size: 1.125rem;
	line-height: 1.75rem;
}

.p-small {
	font-size: 0.875rem;
	line-height: 1.5rem;
}

.testimonial-text {
	font-style: italic;
}

.testimonial-author {
	font-weight: 700;
	font-size: 1rem;
	line-height: 1.5rem;
}

.li-space-lg li {
	margin-bottom: 0.5rem;
}

a {
	color: #676d71;
	text-decoration: underline;
}

a:hover {
	color: #676d71;
	text-decoration: underline;
}

.no-line {
	text-decoration: none;
}

.no-line:hover {
	text-decoration: none;
}

.red {
	color: #ff6e84;
}

.bg-gray {
	background-color: #f3f6fe;
}

.btn-solid-reg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid #ffc259;
	border-radius: 32px;
	background-color: #ffc259;
	color: #3f3b6b;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-reg:hover {
	border: 1px solid #3f3b6b;
	background-color: transparent;
	color: #3f3b6b; /* needs to stay here because of the color property of a tag */
	text-decoration: none;
}

.btn-solid-lg {
	display: inline-block;
	padding: 1.625rem 2.75rem 1.625rem 2.75rem;
	border: 1px solid #ffc259;
	border-radius: 32px;
	background-color: #ffc259;
	color: #3f3b6b;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-lg:hover {
	border: 1px solid #3f3b6b;
	background-color: transparent;
	color: #3f3b6b; /* needs to stay here because of the color property of a tag */
	text-decoration: none;
}

.btn-outline-reg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid #3f3b6b;
	border-radius: 32px;
	background-color: transparent;
	color: #3f3b6b;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-reg:hover {
	background-color: #3f3b6b;
	color: #ffffff;
	text-decoration: none;
}

.btn-outline-lg {
	display: inline-block;
	padding: 1.625rem 2.75rem 1.625rem 2.75rem;
	border: 1px solid #3f3b6b;
	border-radius: 32px;
	background-color: transparent;
	color: #3f3b6b;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-lg:hover {
	background-color: #3f3b6b;
	color: #ffffff;
	text-decoration: none;
}

.btn-outline-sm {
	display: inline-block;
	padding: 1rem 1.5rem 1rem 1.5rem;
	border: 1px solid #3f3b6b;
	border-radius: 32px;
	background-color: transparent;
	color: #3f3b6b;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-sm:hover {
	background-color: #3f3b6b;
	color: #ffffff;
	text-decoration: none;
}

.form-group {
	position: relative;
	margin-bottom: 1.25rem;
}

.label-control {
	position: absolute;
	top: 0.875rem;
	left: 1.875rem;
	color: #7d838a;
	opacity: 1;
	font-size: 0.875rem;
	line-height: 1.5rem;
	cursor: text;
	transition: all 0.2s ease;
}

.form-control-input:focus + .label-control,
.form-control-input.notEmpty + .label-control,
.form-control-textarea:focus + .label-control,
.form-control-textarea.notEmpty + .label-control {
	top: 0.125rem;
	color: #676d71;
	opacity: 1;
	font-size: 0.75rem;
	font-weight: 700;
}

.form-control-input,
.form-control-select {
	display: block; /* needed for proper display of the label in Firefox, IE, Edge */
	width: 100%;
	padding-top: 1.125rem;
	padding-bottom: 0.125rem;
	padding-left: 1.8125rem;
	border: 1px solid #d0d5e2;
	border-radius: 25px;
	background-color: #ffffff;
	color: #676d71;
	font-size: 0.875rem;
	line-height: 1.875rem;
	transition: all 0.2s;
	-webkit-appearance: none; /* removes inner shadow on form inputs on ios safari */
}

.form-control-select {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	height: 3.25rem;
	color: #7d838a;
}

select {
    /* you should keep these first rules in place to maintain cross-browser behavior */
    -webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-image: url('../images/down-arrow.png');
    background-position: 96% 50%;
    background-repeat: no-repeat;
    outline: none;
}

.form-control-textarea {
	display: block; /* used to eliminate a bottom gap difference between Chrome and IE/FF */
	width: 100%;
	height: 14rem; /* used instead of html rows to normalize height between Chrome and IE/FF */
	padding-top: 1.5rem;
	padding-left: 1.3125rem;
	border: 1px solid #d0d5e2;
	border-radius: 4px;
	background-color: #ffffff;
	color: #676d71;
	font-size: 0.875rem;
	line-height: 1.5rem;
	transition: all 0.2s;
}

.form-control-input:focus,
.form-control-select:focus,
.form-control-textarea:focus {
	border: 1px solid #a1a1a1;
	outline: none; /* Removes blue border on focus */
}

.form-control-input:hover,
.form-control-select:hover,
.form-control-textarea:hover {
	border: 1px solid #a1a1a1;
}

.checkbox {
	font-size: 0.75rem;
	line-height: 1.25rem;
}

input[type='checkbox'] {
	vertical-align: -10%;
	margin-right: 0.5rem;
}

.form-control-submit-button {
	display: inline-block;
	width: 100%;
	height: 3.25rem;
	border: 1px solid #ffc259;
	border-radius: 32px;
	background-color: #ffc259;
	color: #3f3b6b;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	cursor: pointer;
	transition: all 0.2s;
}

.form-control-submit-button:hover {
	border: 1px solid #3f3b6b;
	background-color: transparent;
	color: #3f3b6b;
}

/* Fade-move Animation For Details Lightbox - Magnific Popup */
/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
	opacity: 0;
	transition: all 0.2s ease-out;
	-webkit-transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
	-ms-transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
	transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	-webkit-transform: translateY(0) perspective(37.5rem) rotateX(0); 
	-ms-transform: translateY(0) perspective(37.5rem) rotateX(0); 
	transform: translateY(0) perspective(37.5rem) rotateX(0); 
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
	opacity: 0;
	-webkit-transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg); 
	-ms-transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg); 
	transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg); 
}

/* dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
	opacity: 0;
	transition: opacity 0.2s ease-out;
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
	opacity: 0;
}
/* end of fade-move animation for details lightbox - magnific popup */


/**********************/
/*     Navigation     */
/**********************/
.navbar {
	background-color: #f3f6fe;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0.875rem;
	border-bottom: 1px solid #d6dcec;
}

.navbar .navbar-brand {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.navbar .logo-image img {
    width: 138px;
	height: 28px;
}

.navbar .logo-text {
	color: #3f3b6b;
	font-weight: 400;
	font-size: 2rem;
	line-height: 1rem;
	text-decoration: none;
}

.offcanvas-collapse {
	position: fixed;
	top: 3.25rem; /* adjusts the height between the top of the page and the offcanvas menu */
	bottom: 0;
	left: 100%;
	width: 100%;
	padding-right: 1rem;
	padding-left: 1rem;
	overflow-y: auto;
	visibility: hidden;
	background-color: #f3f6fe;
	transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
	transition: transform .3s ease-in-out, visibility .3s ease-in-out;
	transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.offcanvas-collapse.open {
	visibility: visible;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

.navbar .navbar-nav {
	margin-top: 0.75rem;
	margin-bottom: 0.5rem;
}

.navbar .nav-item .nav-link {
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
	color: #676d71;
	text-decoration: none;
	transition: all 0.2s ease;
}

.navbar .nav-item.dropdown.show .nav-link,
.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link.active {
	color: #ff6e84;
}

/* Dropdown Menu */
.navbar .dropdown .dropdown-menu {
	animation: fadeDropdown 0.2s; /* required for the fade animation */
}

@keyframes fadeDropdown {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
	}
}

.navbar .dropdown-menu {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	border: none;
	background-color: #f3f6fe;
}

.navbar .dropdown-item {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	color: #676d71;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0.875rem;
	text-decoration: none;
}

.navbar .dropdown-item:hover {
	background-color: #f3f6fe;
	color: #ff6e84;
}

.navbar .dropdown-divider {
	width: 100%;
	height: 1px;
	margin: 0.5rem auto 0.5rem auto;
	border: none;
	background-color: #d4dce2;
}
/* end of dropdown menu */

.navbar .fa-stack {
	width: 2em;
	margin-right: 0.25rem;
	font-size: 0.75rem;
}

.navbar .fa-stack-2x {
	color: #574fba;
	transition: all 0.2s ease;
}

.navbar .fa-stack-1x {
	color: #ffffff;
	transition: all 0.2s ease;
}

.navbar .fa-stack:hover .fa-stack-2x {
	color: #ffffff;
}

.navbar .fa-stack:hover .fa-stack-1x {
	color: #574fba;
}

.navbar .navbar-toggler {
	padding: 0;
	border: none;
	font-size: 1.25rem;
}


/*****************/
/*    Header     */
/*****************/
.header {
	padding-top: 7rem;
	padding-bottom: 7rem;
	text-align: center;
}

.header .text-container {
	margin-bottom: 3rem;
}

.header .h1-large {
	margin-bottom: 1rem;
}

.header .p-large {
	margin-bottom: 2.75rem;
}

.header form {
	margin-bottom: 2.5rem;
}

.header .countdown #clock .counter-number {
	display: inline-block;
	margin-right: 0.875rem;
	margin-bottom: 1.5rem;
	margin-left: 0.875rem;
	color: #3f3b6b;
	font-weight: 700;
	font-size: 2.25rem;
	line-height: 1.25rem;
}

.header .countdown #clock .counter-number:first-of-type {
	margin-left: 0;
}

.header .countdown #clock .counter-number:last-of-type {
	margin-right: 0;
}

.header .countdown #clock .counter-number .timer-text {
	color: #676d71;
	font-weight: 400;
	font-size: 0.875rem;
	line-height: 1rem;
}


/************************/
/*     Introduction     */
/************************/
.basic-1 {
	padding-top: 8rem;
	padding-bottom: 3.75rem;
}

.basic-1 .text-container {
	margin-bottom: 4rem;
}

.basic-1 .title-wrapper {
	display: flex;
	align-items: flex-start;
	margin-bottom: 0.875rem;
}

.basic-1 .fa-stack {
	width: 2em;
	margin-right: 0.875rem;
	font-size: 1.625rem;
}

.basic-1 .text-container .fa-stack .fa-stack-2x {
	color: #f3f6fe;
}

.basic-1 .text-box .fa-stack .fa-stack-2x {
	color: #ffffff;
}

.basic-1 .fa-stack .fa-stack-1x {
	color: #ff6e84;
}

.basic-1 h4 {
	flex: 1;
	margin-top: 0.5rem;
}

.basic-1 .text-box {
	padding: 2.25rem 1.5rem 1.375rem 1.5rem;
}

.basic-1 .list-unstyled .fas {
	font-size: 0.75rem;
	line-height: 1.75rem;
}

.basic-1 .list-unstyled .media-body {
	margin-left: 0.375rem;
}


/*********************/
/*     Takeaways     */
/*********************/
.cards-1 {
	padding-top: 3.75rem;
	padding-bottom: 4rem;
	text-align: center;
}

.cards-1 .h2-heading {
	margin-bottom: 3.75rem;
}

.cards-1 .card {
	margin-bottom: 3rem;
	padding: 0;
	border: none;
}

.cards-1 .card-image {
	margin-bottom: 1rem;
}

.cards-1 .card-image img {
	width: 110px;
	height: 110px;
	margin-right: auto;
	margin-left: auto;
}

.cards-1 .card-body {
	padding: 0;
}

.cards-1 .card-title {
	margin-bottom: 0.5rem;
}


/*******************/
/*     Summary     */
/*******************/
.basic-2 {
	padding-top: 7.75rem;
	padding-bottom: 8.125rem;
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('../images/summary-background.jpg') center center no-repeat;
	background-size: cover;
}

.basic-2 h2,
.basic-2 h5,
.basic-2 p {
	color: #ffffff;
}

.basic-2 h2 {
	margin-bottom: 1.75rem;
}

.basic-2 .text-container {
	margin-bottom: 4rem;
}

.basic-2 .text-container h5 {
	margin-bottom: 0.75rem;
}

.basic-2 .text-container p {
	margin-bottom: 0.5rem;
}

.basic-2 .chapter {
	margin-bottom: 2.25rem;
}


/***********************/
/*     Description     */
/***********************/
.tabs {
	padding-top: 8.5rem;
	padding-bottom: 9.25rem;
}

.tabs .image-container {
	margin-bottom: 3rem;
}

.tabs .nav-tabs {
	margin-bottom: 0.25rem;
	border: none;
}

.tabs .nav-item {
	display: inline-block;
	margin-right: 0.875rem;
	margin-bottom: 0.5rem;
	text-align: center;
}

.tabs .nav-link {
	padding: 0;
	border: none;
	color: #808a8f;
	font-weight: 600;
	font-size: 1rem;
	text-decoration: none;
	transition: all 0.2s ease;
}

.tabs .nav-link:hover,
.tabs .nav-link.active {
	color: #403aa2;
	text-decoration: underline;
}

.tabs .tab-content h4 {
	margin-bottom: 0.75rem;
}

.tabs .tab-content .btn-solid-reg  {
	margin-top: 0.375rem;
}

.tabs .tab-content .list-unstyled .fas {
	font-size: 0.75rem;
	line-height: 1.75rem;
}

.tabs .tab-content .list-unstyled .media-body {
	margin-left: 0.375rem;
}


/********************************/
/*     Description Lightbox     */
/********************************/
.lightbox-basic {
	position: relative;
	max-width: 1150px;
	margin: 2.5rem auto;
	padding: 3rem 1rem;
	background-color: #ffffff;
	text-align: left;
}

.lightbox-basic .image-container {
	margin-bottom: 3rem;
	text-align: center;
}

.lightbox-basic .image-container img {
	border-radius: 8px;
}

.lightbox-basic h3 {
	margin-bottom: 0.5rem;
}

.lightbox-basic hr {
	width: 44px;
	margin-top: 0.125rem;
	margin-bottom: 1rem;
	margin-left: 0;
	height: 2px;
	border: none;
	background-color: #ff6e84;
}

.lightbox-basic h4 {
	margin-top: 1.75rem;
	margin-bottom: 0.625rem;
}

.lightbox-basic .list-unstyled {
	margin-bottom: 1.5rem;
}

.lightbox-basic .list-unstyled .fas {
	font-size: 0.75rem;
	line-height: 1.75rem;
}

.lightbox-basic .list-unstyled .media-body {
	margin-left: 0.375rem;
}

.lightbox-basic .list-unstyled {
	margin-bottom: 1.5rem;
}

/* Action Button */
.lightbox-basic .btn-solid-reg.mfp-close {
	position: relative;
	width: auto;
	height: auto;
	color: #3f3b6b;
	opacity: 1;
	font-family: "Open Sans";
}

.lightbox-basic .btn-solid-reg.mfp-close:hover {
	color: #3f3b6b;
}
/* end of action Button */

/* Back Button */
.lightbox-basic .btn-outline-reg.mfp-close.as-button {
	position: relative;
	display: inline-block;
	width: auto;
	height: auto;
	margin-left: 0.375rem;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid #3f3b6b;
	background-color: transparent;
	color: #3f3b6b;
	opacity: 1;
	font-family: "Open Sans";
}

.lightbox-basic .btn-outline-reg.mfp-close.as-button:hover {
	background-color: #3f3b6b;
	color: #ffffff;
}
/* end of back button */

/* Close X Button */
.lightbox-basic button.mfp-close.x-button {
	position: absolute;
	top: -2px;
	right: -2px;
	width: 44px;
	height: 44px;
	color: #555555;
}
/* end of close x button */


/**********************/
/*     Instructor     */
/**********************/
.basic-3 .text-container {
	margin-top: 7.75rem;
}

.basic-3 h2 {
	margin-bottom: 1.5rem;
}

.basic-3 .list-unstyled {
	margin-bottom: 3rem;
}

.basic-3 .list-unstyled .fas {
	font-size: 0.75rem;
	line-height: 1.75rem;
}

.basic-3 .list-unstyled .media-body {
	margin-left: 0.375rem;
}


/************************/
/*     Testimonials     */
/************************/
.slider-1 {
	padding-top: 8.25rem;
	padding-bottom: 2rem;
}

.slider-1 .slider-container {
	position: relative;
}

.slider-1 .swiper-container {
	position: static;
	width: 86%;
	text-align: center;
}

.slider-1 .swiper-button-prev:focus,
.slider-1 .swiper-button-next:focus {
	/* even if you can't see it chrome you can see it on mobile device */
	outline: none;
}

.slider-1 .swiper-button-prev {
	left: -14px;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23707375'%2F%3E%3C%2Fsvg%3E");
	background-size: 18px 28px;
}

.slider-1 .swiper-button-next {
	right: -14px;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23707375'%2F%3E%3C%2Fsvg%3E");
	background-size: 18px 28px;
}

.slider-1 .card {
	position: relative;
	border: none;
	background-color: transparent;
}

.slider-1 .card-image {
	width: 80px;
	height: 80px;
	margin-right: auto;
	margin-bottom: 1.25rem;
	margin-left: auto;
	border-radius: 50%;
}

.slider-1 .card-body {
	padding: 0;
}

.slider-1 .testimonial-text {
	margin-bottom: 0.75rem;
}

.slider-1 .testimonial-author {
	margin-bottom: 0;
	color: #181c3b;
}


/********************/
/*     Partners     */
/********************/
.basic-4 {
	padding-top: 2rem;
	padding-bottom: 6rem;
	text-align: center;
}

.basic-4 p {
	margin-bottom: 1.25rem;
}

.basic-4 img {
	display: block;
	max-width: 100%;
	height: auto;
	max-height: 36px;
	margin-right: auto;
	margin-bottom: 2.25rem;
	margin-left: auto;
}


/**********************/
/*     Statistics     */
/**********************/
.counter {
	padding-top: 7.75rem;
	padding-bottom: 8.25rem;
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('../images/statistics-background.jpg') center center no-repeat;
	background-size: cover;
	text-align: center;
}

.counter #counter {
	margin-bottom: 1rem;
}

.counter #counter .cell {
	display: inline-block;
	width: 6.25rem;
	margin-right: 1.5rem;
	margin-bottom: 1.25rem;
	margin-left: 1.5rem;
	vertical-align: top;
}

.counter #counter .counter-value {
	color: #ffffff;
	font-weight: 700;
	font-size: 3.5rem;
	line-height: 3.875rem;
	vertical-align: middle;
}

.counter #counter .counter-info {
	margin-bottom: 0;
	color: #ffffff;
	font-size: 0.875rem;
	line-height: 1.5rem;
	vertical-align: middle;
}

.counter h4,
.counter p {
	color: #ffffff;
}

.counter h4 {
	margin-bottom: 1.75rem;
}

.counter .btn-solid-lg:hover {
	border: 1px solid #ffffff;
	color: #ffffff;
}


/*********************/
/*     Portfolio     */
/*********************/
.cards-2 {
	padding-top: 7.5rem;
	padding-bottom: 2.25rem;
}

.cards-2 .card {
	margin-bottom: 4rem;
	border-radius: 0;
}

.cards-2 .h2-heading {
	margin-bottom: 0.75rem;
	text-align: center;
}

.cards-2 .p-heading {
	margin-bottom: 3.75rem;
	text-align: center;
}

/* Hover Animation */
.cards-2 .card-image {
	overflow: hidden;
}

.cards-2 .card-image img {
	margin: 0;
	transition: all 0.3s;
}

.cards-2 .card-image:hover img {
	-moz-transform: scale(1.15);
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
} 
/* end of hover animation */

.cards-2 .card-body {
	padding: 1.25rem 1.5rem; 
}

.cards-2 .class-header {
	margin-bottom: 0.25rem;
}

.cards-2 .class-name,
.cards-2 .class-price {
	font-weight: 700;
	font-size: 1rem;
	line-height: 1.375rem;
}

.cards-2 .class-name {
	margin-right: 0.25rem;
	color: #3f3b6b;
}

.cards-2 .class-price {
	color: #ff5a75;
}

.cards-2 .class-price.green {
	color: #1fce76;
}

.cards-2 .class-details {
	margin-bottom: 0;
}


/**********************/
/*     Newsletter     */
/**********************/
.form-1 {
	padding-top: 2rem;
	padding-bottom: 8.25rem;
	text-align: center;
}

.form-1 .text-container {
	padding: 7.5rem 1rem 6.75rem 1rem;
}

.form-1 h2 {
	margin-bottom: 0.75rem;
}

.form-1 .p-heading {
	margin-bottom: 3rem;
}

.form-1 .label-control {
	left: 2.125rem;
}

.form-1 .form-control-input {
	padding-left: 2rem;
}


/******************/
/*     Footer     */
/******************/
.footer {
	padding-top: 6.5rem;
	padding-bottom: 5.5rem;
	background-color: #574fba;
	text-align: center;
}

.footer a {
	color: #ffffff;
	text-decoration: none;
}

.footer h4 {
	margin-bottom: 1.875rem;
	color: #ffffff;
}

.footer .fa-stack {
	width: 2em;
	margin-bottom: 1.25rem;
	margin-right: 0.375rem;
	font-size: 1.5rem;
}

.footer .fa-stack .fa-stack-1x {
    color: #574fba;
	transition: all 0.2s ease;
}

.footer .fa-stack .fa-stack-2x {
	color: #ffffff;
	transition: all 0.2s ease;
}

.footer .fa-stack:hover .fa-stack-1x {
	color: #ffffff;
}

.footer .fa-stack:hover .fa-stack-2x {
    color: #7972dd;
}


/*********************/
/*     Copyright     */
/*********************/
.copyright {
	padding-top: 1.5rem;
	border-top: 1px solid #8682b1;
	background-color: #574fba;
	text-align: center;
}

.copyright a {
	text-decoration: none;
	color: #a0a0da;
}

.copyright .statement {
	color: #a0a0da;
}


/******************************/
/*     Back To Top Button     */
/******************************/
a.back-to-top {
	position: fixed;
	z-index: 999;
	right: 12px;
	bottom: 12px;
	display: none;
	width: 42px;
	height: 42px;
	border-radius: 30px;
	background: #7169e2 url("../images/up-arrow.png") no-repeat center 47%;
	background-size: 18px 18px;
	text-indent: -9999px;
}

a:hover.back-to-top {
	background-color: #4942a5;
}


/***********************/
/*     Extra Pages     */
/***********************/
.ex-header {
	padding-top: 8.5rem;
	padding-bottom: 4rem;
}

.ex-basic-1 .list-unstyled .fas {
	font-size: 0.375rem;
	line-height: 1.625rem;
}

.ex-basic-1 .list-unstyled .media-body {
	margin-left: 0.5rem;
}

.ex-basic-1 .text-box {
	padding: 1.25rem 1.25rem 0.5rem 1.25rem;
	background-color: #f3f6fe;
}

.ex-cards-1 .card {
	border: none;
	background-color: transparent;
}

.ex-cards-1 .card .fa-stack {
	width: 2em;
	font-size: 1.125rem;
}

.ex-cards-1 .card .fa-stack-2x {
	color: #ff6e84;
}

.ex-cards-1 .card .fa-stack-1x {
	color: #ffffff;
	font-weight: 700;
	line-height: 2.125rem;
}

.ex-cards-1 .card .list-unstyled .media-body {
	margin-left: 0.75rem;
}

.ex-cards-1 .card .list-unstyled .media-body h5 {
	margin-top: 0.125rem;
	margin-bottom: 0.375rem;
}


/*************************/
/*     Media Queries     */
/*************************/	
/* Min-width 768px */
@media (min-width: 768px) {

	/* Header */
	.header {
		padding-top: 9rem;
		padding-bottom: 9rem;
	}

	.header form {
		margin-bottom: 1.25rem;
	}

	.header .form-group {
		display: inline-block;
		vertical-align: top;
	}
	
	.header .form-control-input {
		width: 22rem;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	.header .form-control-submit-button {
		width: 10rem;
		margin-left: -0.375rem;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	.header .countdown #clock .counter-number {
		margin-right: 0.625rem;
		margin-left: 0.625rem;
		font-size: 2.5rem;
		line-height: 2rem;
	}
	
	.header .countdown #clock .counter-number br {
		display: none;
	}
	
	.header .countdown #clock .counter-number .timer-text {
		margin-left: 0.625rem;
		line-height: 2rem;
		vertical-align: top;
	}
	/* end of header */


	/* Introduction */
	.basic-1 .text-box {
		padding-right: 2.5rem;
		padding-left: 2.5rem;
	}
	/* end of introduction */


	/* Partners */
	.basic-4 img {
		display: inline-block;
		width: 100px;
		margin-right: 1rem;
		margin-left: 1rem;
	}
	/* end of partners */


	/* Portfolio */
	.cards-2 .class-name {
		display: inline-block;
		width: 90.35%;
		margin-right: 0;
	}
	
	.cards-2 .class-price {
		display: inline-block;
		width: 9%;
		text-align: right;
		vertical-align: top;
	}
	/* end of portfolio */


	/* Newsletter */
	.form-1 .form-group {
		display: inline-block;
		vertical-align: top;
	}
	
	.form-1 .form-control-input {
		width: 20rem;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	.form-1 .form-control-submit-button {
		width: 9rem;
		margin-left: -0.375rem;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
	/* end of newsletter */


	/* Extra Pages */
	.ex-basic-1 .text-box {
		padding: 1.75rem 2rem 0.875rem 2rem;
	}
	/* end of extra pages */
}
/* end of min-width 768px */


/* Min-width 992px */
@media (min-width: 992px) {
	
	/* General Styles */
	.h2-heading {
		width: 35.25rem;
		margin-right: auto;
		margin-left: auto;
	}

	.p-heading {
		width: 46rem;
		margin-right: auto;
		margin-left: auto;
	}
	/* end of general styles */


	/* Navigation */
	.navbar {
		padding-top: 1.75rem;
		background-color: transparent;
		border-bottom: none;
		transition: all 0.2s;
	}

	.navbar.top-nav-collapse {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		background-color: #f3f6fe;
		border-bottom: 1px solid #d6dcec;
	}

	.offcanvas-collapse {
		position: static;
		top: auto;
		bottom: auto;
		left: auto;
		width: auto;
		padding-right: 0;
		padding-left: 0;
		background-color: transparent;
		overflow-y: visible;
		visibility: visible;
	}

	.offcanvas-collapse.open {
		-webkit-transform: none;
		transform: none;
	}

	.navbar .navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}
	
	.navbar .nav-item .nav-link {
		padding-right: 0.625rem;
		padding-left: 0.625rem;
	}

	.navbar .dropdown-menu {
		margin-top: 0.25rem;
		box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.08);
	}

	.navbar .dropdown-divider {
		width: 90%;
	}

	.navbar .social-icons {
		margin-left: 0.5rem;
	}
	
	.navbar .fa-stack {
		margin-right: 0;
		margin-left: 0.25rem;
	}
	/* end of navigation */


	/* Summary */
	.basic-2 .text-container {
		margin-bottom: 0;
	}
	/* end of summary */


	/* Description */
	.tabs .image-container {
		margin-bottom: 0;
	}
	/* end of description */


	/* Description Lightbox */
	.lightbox-basic {
		padding: 3rem 3rem;
	}

	.lightbox-basic .image-container {
		margin-bottom: 0;
		text-align: left;
	}
	/* end of description lightbox */
	

	/* Instructor */
	.basic-3 .list-unstyled {
		margin-bottom: 0;
	}
	/* end of instructor */


	/* Testimonials */
	.slider-1 .swiper-container {
		width: 92%;
	}

	.slider-1 .swiper-button-prev {
		left: -16px;
		width: 22px;
		background-size: 22px 34px;
	}
	
	.slider-1 .swiper-button-next {
		right: -16px;
		width: 22px;
		background-size: 22px 34px;
	}
	/* end of testimonials */


	/* Partners */
	.basic-4 img {
		width: 136px;
		margin-bottom: 2.5rem;
	}
	/* end of partners */


	/* Statistics */
	.counter h4 {
		width: 50rem;
		margin-right: auto;
		margin-left: auto;
	}
	/* end of statistics */


	/* Portfolio */
	.cards-2 .card {
		display: inline-block;
		width: 446px;
		vertical-align: top;
	}
	
	.cards-2 .card:nth-of-type(2n+1) {
		margin-right: 1rem;
	}
	
	.cards-2 .card:nth-of-type(2n+2) {
		margin-left: 1rem;
	}

	.cards-2 .class-name {
		width: 87.9%;
	}
	
	.cards-2 .class-price {
		width: 11%;
	}
	/* end of portfolio */


	/* Footer */
	.footer h4 {
		width: 46rem;
		margin-right: auto;
		margin-left: auto;
	}
	/* end of footer */


	/* Copyright */
	.copyright {
		text-align: left;
	}

	.copyright .list-unstyled li {
		display: inline-block;
		margin-right: 1rem;
	}

	.copyright .statement {
		text-align: right;
	}
	/* end of copyright */


	/* Extra Pages */
	.ex-cards-1 .card {
		display: inline-block;
		width: 296px;
		vertical-align: top;
	}

	.ex-cards-1 .card:nth-of-type(3n+2) {
		margin-right: 1rem;
		margin-left: 1rem;
	}
	/* end of extra pages */
}
/* end of min-width 992px */


/* Min-width 1200px */
@media (min-width: 1200px) {

	/* General Styles */
	.h1-large {
		font-size: 3.25rem;
		line-height: 3.75rem;
	}
	/* end of general styles */


	/* Header */
	.header {
		overflow: hidden;
		padding-top: 14rem;
		padding-bottom: 13rem;
		border-bottom-left-radius: 15rem;
		text-align: left;
	}

	.header .text-container {
		margin-top: 1rem;
		margin-right: 3rem;
		margin-bottom: 0;
	}

	.header .form-control-input {
		width: 19rem;
	}

	.header .image-container {
		position: absolute;
		z-index: 1;
		top: -100px;
		width: 760px;
	}
	/* end of header */


	/* Introduction */
	.basic-1 .text-container {
		margin-top: 3rem;
		margin-right: 5rem;
		margin-bottom: 0;
	}
	/* end of introduction */


	/* Takeaways */
	.cards-1 .card {
		display: inline-block;
		width: 240px;
		vertical-align: top;
	}

	.cards-1 .card:nth-of-type(4n+2) {
		margin-right: 1.375rem;
		margin-left: 2.75rem;
	}

	.cards-1 .card:nth-of-type(4n+3) {
		margin-right: 2.75rem;
		margin-left: 1.375rem;
	}
	/* end of takeaways */


	/* Summary */
	.basic-2 {
		border-bottom-right-radius: 10rem;
	}

	.basic-2 .text-container {
		margin-top: 5rem;
		margin-right: 1rem;
	}

	.basic-2 .image-container {
		margin-left: 4rem;
	}
	/* end of summary */


	/* Description */
	.tabs .image-container {
		margin-right: 4rem;
	}

	.tabs .tabs-container {
		margin-top: 3.5rem;
	}
	/* end of description */


	/* Description Lightbox */
	.lightbox-basic .image-container {
		margin-right: 1.5rem;
	}
	/* end of description lightbox */


	/* Instructor */
	.basic-3 {
		border-bottom-left-radius: 10rem;
	}

	.basic-3 .text-container {
		margin-bottom: 8rem;
	}

	.basic-3 .image-container {
		position: absolute;
		width: 580px;
		right: 15px;
		bottom: 0;
	}
	/* end of instructor */


	/* Testimonials */
	.slider-1 .swiper-button-prev {
		left: -24px;
	}
	
	.slider-1 .swiper-button-next {
		right: -24px;
	}
	/* end of testimonials */


	/* Partners */
	.basic-4 img {
		width: 154px;
		margin-right: 2rem;
		margin-left: 2rem;
	}
	/* end of partners */


	/* Statistics */
	.counter {
		border-bottom-right-radius: 10rem;
	}

	.counter #counter .cell {
		width: 6rem;
		margin-right: 2rem;
		margin-left: 2rem;
	}
	
	.counter #counter .cell:first-of-type {
		margin-left: 0;
	}

	.counter #counter .cell:last-of-type {
		margin-right: 0;
	}
	/* end of statistics */


	/* Portfolio */
	.cards-2 .card {
		width: 33.25rem;
	}
	
	.cards-2 .card:nth-of-type(2n+1) {
		margin-right: 1.25rem;
	}
	
	.cards-2 .card:nth-of-type(2n+2) {
		margin-left: 1.25rem;
	}

	.cards-2 .class-name {
		width: 88%;
	}
	
	.cards-2 .class-price {
		width: 11%;
	}
	/* end of portfolio */


	/* Extra Pages */
	.ex-cards-1 .card {
		width: 336px;
	}

	.ex-cards-1 .card:nth-of-type(3n+2) {
		margin-right: 2.875rem;
		margin-left: 2.875rem;
	}
	/* end of extra pages */
}
/* end of min-width 1200px */